# dependencies
node_modules/

# env files (VERY IMPORTANT)
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build output
dist/
build/

# coverage
coverage/

# IDE files
.vscode/
.idea/